@model LBeacon.Models.LaserPointerInformation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LaserPointerInformation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaceLongitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaceLongitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaceLatitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaceLatitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Floor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Floor)
        </dd>
    </dl>
</div>
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
else
{
    @Html.ActionLink("Back to List", "Index")
}
