@model IdentitySample.Models.IndexViewModel
@{
    ViewBag.Title = "Manage your account";
}

<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-8">
        <p>
            Id: @(Model.Id)
        </p>
        <p class = "breakword">
            API Token: @(Model.Token)
        </p>
        <p>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Pick a password", "SetPassword")
            }
        </p>
        <p>
            Phone Number: @(Model.PhoneNumber ?? "None") [
            @if (Model.PhoneNumber != null)
            {
                @Html.ActionLink("Change", "AddPhoneNumber")
                @: &nbsp;|&nbsp;
                @Html.ActionLink("Remove", "RemovePhoneNumber")
            }
            else
            {
                @Html.ActionLink("Add", "AddPhoneNumber")
            }
            ]
        </p>
        <p>
            External Logins: @Model.Logins.Count
            @Html.ActionLink("[Manage]", "ManageLogins")
        </p>
        @if (Model.TwoFactor)
        {
            <form method="post" action="/Manage/DisableTFA">
                <p>
                    Two factor is currently enabled:
                    <input type="submit" value="Disable" class="btn btn-default" />
                </p>
            </form>
        }
        else
        {
            <form method="post" action="/Manage/EnableTFA">
                <p>
                    Two factor is currently disabled:
                    <input type="submit" value="Enable" class="btn btn-default" />
                </p>
            </form>
        }
        @if (Model.BrowserRemembered)
        {
            <form method="post" action="/Manage/ForgetBrowser">
                <p>
                    Browser is curently remembered for two factor:
                    <input type="submit" value="Forget Browser" class="btn btn-default" />
                </p>
            </form>
        }
        else
        {
            <form method="post" action="/Manage/RememberBrowser">
                <p>
                    Browser is curently not remembered for two factor:
                    <input type="submit" value="Remember Browser" class="btn btn-default" />
                </p>
            </form>
        }
    </div>
</div>

@section Style{
<style>
    .word {
        background: #E4FFE9;
        width: 250px;
        margin: 50px auto;
        padding: 20px;
        font-family: "microsoft yahei";
    }
    /* 强制不换行 */
    .nowrap {
        white-space: nowrap;
    }
    /* 允许单词内断句，首先会尝试挪到下一行，看看下一行的宽度够不够，
            不够的话就进行单词内的断句 */
    .breakword {
        word-wrap: break-word;
    }
    /* 断句时，不会把长单词挪到下一行，而是直接进行单词内的断句 */
    .breakAll {
        word-break: break-all;
    }
    /* 超出部分显示省略号 */
    .ellipsis {
        text-overflow: ellipsis;
        overflow: hidden;
    }
</style>
}