@model IdentitySample.Models.ServerInformation
@{
    ViewBag.Title = "ServerInformation";
}

<h2>ServerInformation</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>BeaconInformation</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Place, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Place, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Place, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.URL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.URL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.URL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@if (Model != null)
{
    if (Model.URL != "" && Model.Place != "" && Model.URL != null && Model.Place != null)
    {
        <hr />
        <div class="row">
            <h2>QRCode</h2>
            <img src="@Url.Action("Image",new {URL = Model.URL, Place = Model.Place})" alt="qr code" />
        </div>
    }
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}